{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<section class="d-flex justify-content-center align-items-center vh-100">
		<div class="container">
			<div class="mx-auto card p-5 shadow col-lg-7">
				<form method="post">
					<h1 class="h2 mb-5 mt-2 font-weight-normal text-center text-uppercase">Log 	in</h1>
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					{% if app.user %}
						<div class="mb-3 d-flex flex-column align-items-center text-center gap-3">
							You are logged in as {{ app.user.firstname }} {{ app.user.lastname }}
							<a class="btn btn-md btn-primary w-25" href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% else %}
						<label class="mb-2" for="inputEmail">Email</label>
						<input type="email" value="{{ lastUsername }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>
						<label class="mb-2" for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn w-50 btn-md btn-primary mt-5 d-flex justify-content-around mx-auto" type="submit">
							Sign in
						</button>
					{% endif %}
				</form>
			</div>
		</div>
	</section>
{% endblock %}
