{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}


	<div>
		<ul>
			<li><a href="{{ path('app_login') }}">Login</a> / <a href="{{ path('app_register') }}">Sign up</a></li>
		</ul>
	</div>
{% endblock %}
