{% extends 'base.html.twig' %}

{% block title %}Sign up
{% endblock %}

{% block body %}

	<section class="d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="mx-auto card p-5 shadow col-lg-7 my-5">
				<h1 class="h2 mb-5 mt-2 font-weight-normal text-center text-uppercase">Create Your account</h1>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.address) }}
				<button type="submit" class="btn w-50 btn-md btn-primary mt-5 d-flex justify-content-around mx-auto">Sign up
                </button> 
                {{ form_end(registrationForm) }}
			</div>
		</div>
	</section>
{% endblock %}
